.router-enter,.router-appear {
    opacity: 0;
}
.router-enter-active,.router-appear-active {
    opacity: 1;
    transition: all 300ms ease-in;
}
.router-enter-done {
    opacity: 1;
}

.router-exit {
    opacity: 1;
}
.router-exit-active {
    opacity: 0;
    transition: all 300ms ease-in;
}
.router-exit-done {
    opacity: 0;
}
