
.container {

  display: flex;
  flex-direction: column;
  background-color: white;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-left: 11px;
    padding-right: 11px;
  }

  .banner {

    box-sizing: border-box;
    margin: 15px;
    border-radius: 6px;
    position: relative;
    height: 200px;

    .banner-item {
      display: flex;
      align-items: center;
      height: 200px;

      .banner-item-icon {
        width: 178*0.68px;
        box-sizing: border-box;
        height: 178px;
        margin-left: 12px;
        background-color: red;
        border-radius: 4px;
      }

      .banner-item-right {
        display: flex;
        margin-left: 16px;
        margin-right: 12px;
        flex-direction: column;
        overflow: hidden;

        font-size: 14px;
        color: white;

        .banner-item-right-margin {
          margin-top: 8px;
          margin-bottom: 8px;
        }

        .banner-item-right-director {
          display: flex;
          align-items: center;

          img {
            width: 26px;
            height: 26px;
            border-radius: 13px;
            margin: 0px;
          }

          span {
            margin-left: 10px;
          }
        }

        .banner-item-right-star {
          display: flex;
          align-items: center;

          .banner-item-right-star-text {
            margin-left: 10px;
          }

        }
      }

    }

    .dot-swipe {
      display: flex;
      position: absolute;
      right: 12px;
      bottom: 10px;

      .dot-view {
        width: 16px;
        height: 2px;
        border-radius: 1px;
        margin-left: 2px;
        margin-right: 2px;
      }
    }

  }

  .cate {
    height: 72px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 6px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

    .cate-item {
      height: 72px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @mixin linear-gradient($color1,$color2) {
        background: -webkit-linear-gradient(bottom, $color1 , $color2); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(bottom, $color1, $color2); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(bottom, $color1, $color2); /* Firefox 3.6 - 15 */
        background: linear-gradient(to bottom, $color1, $color2); /* 标准的语法 */
      }

      &:active {
        background-color: rgba(0,0,0,.1);
      }

      i {
        padding: 7px;
        font-size: 26px;
        color: white;
        border-radius: 20px;
        &.cate-item-i1{
          @include linear-gradient(#fe4080,#ff77a5)
        }
        &.cate-item-i2 {
          @include linear-gradient(#feaa1a,#ffd31a)
        }
        &.cate-item-i3{
          @include linear-gradient(#b983ff,#a35cff)
        }
        &.cate-item-i4 {
          @include linear-gradient(#00ceff,#0196fe)
        }
      }

      span {
        margin-top: 4px;
        font-size: 14px;
        color: white;
      }
    }
  }

  .list {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    background-color: #f5f5f5;

    .list-item {
      display: flex;
      flex-direction: column;
      height: 200px;
      align-items: center;
    }

    .list-img {
      height: 200px - 40px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      width: 96%;
    }
    .list-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      height: 40px;
      width: 96%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      .list-desc-title {
        color: white;
        font-size: 14px;
      }

      .list-desc-star {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;

        >span {
          margin-left: 10px;
        }
      }
    }

  }
}
