.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding-left: 11px;
    padding-right: 11px;
    box-sizing: border-box;
  }
}
